.cursos__geral {
  background-color: #114265;
}

.cursos {
  background-color: #114265;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.titulo__cursos {
  width: 29%;
  margin: 0.3rem 0.3rem;
  background-color: orange;
  border: 1px solid white;
  padding: 40px 0;
}

.botao__cursos {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}

.botao__cursos:hover {
  color: #114265;
}

@media (min-width: 1024px) {
  .cursos {
    padding: 15px 0;
    flex-grow: 1;
  }

  .titulo__cursos {
    width: 20%;
  }
}
