.rodape {
  background-color: rgb(239, 238, 238);
  padding: 20px;
}

.titulo__rodape {
  font-size: 26px;
  color: #114265;
  font-weight: 700;
}

.rodape__divisao {
  display: none;
}

@media (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .titulo__rodape {
    padding: 15px 0;
    flex-grow: 1;
  }

  .rodape__divisao {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
  }

  .icon1 {
    width: 40px;
    vertical-align: -14px;
  }

  .titulo__rodape-sec {
    font-size: 24px;
    color: gray;
    margin-bottom: 1rem;
  }

  .ancora__rodape {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    padding: 13px 0;
    font-weight: 600;
  }

  .ancora__rodape:hover {
    color: orangered;
  }
}

@media (min-width: 1400px) {
  .titulo__rodape {
    text-align: end;
    margin: 1.5rem 12rem 0 0;
  }

  .rodape__divisao {
    border-left: 1px solid gray;
  }
}
